* { 
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  color: rgb(234,228,208);
}

html, body {
  width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: row;
  background-color: rgb(51, 52, 47);
}

.sidebar {
  width: 25vw;
  position: fixed;
  height: 100vh;
  overflow-y: auto;
}
.sidebar div {
  text-align: center;
}

.content {
  width: 80vw;
  margin-left: 25vw;
  height: 100vh;
  overflow-y: scroll;
}
img{
  width: 24vw;
  margin: auto;
  
}
